<br>
<h1>Hello, <%= current_user.name%></h1>
<h5><a href="/users/<%= current_user.id %>/edit">Edit Profile </a></h5>
<br>
<br>
<h2> Your Packs</h2>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Pack</th> 
  </tr>
<% current_user.packs.each do |pack| %>
  <tr>
    <td>
      <a href="/packs/<%= pack.id %>"><%= pack.name %></a>
    </td>
    <td>
       <a href="<%= pack.pack_image_url %>">
	      <img src="<%= pack.pack_image_url %>" alt="<%= pack.name %>" width="450px" height="250px" />
       </a>
    </td>
  </tr>

<% end %>
</table>