<br>
Select Category:
<a href="/items/category/Mechs">Mechs</a>
<a href="/items/category/Weapons">Weapons</a>
<a href="/items/category/Vehicles">Vehicles</a>
<a href="/items/category/Sentries">Sentries</a>
<a href="/items/category/Buddies">Buddies</a>
<a href="/items/category/Barriers">Barriers</a>

<br>

<h1>All Items</h1>
<% @items.each do |item| %>
  <div class="item-container">
    <h4><a href="/items/<%= item.id %>"> <%= item.name %> </a> </h4><br>
    <h5>Description: <%= item.description %></h5><br>
    <img src="<%= item.item_image_url %>" alt="<%= item.name %> photo" height="500" width="900"><br><br>
      <div class="item--content">
        <form action="/add_item_to_pack/<%= item.id %>" method="post">
          <select name="pack_id">
            <% current_user.packs.each do |pack| %>
              <option value="<%= pack.id %>"><%= pack.name %></option>
            <% end %>
          </select> 
            <% if current_user.packs.any? %>
               <input type="submit" name="submit" value="Add">
            <% else %>
              <p>Got to the packs page and select a pack</p>
            <% end %>
        </form>
          <br>
        <% end %>
      </div>
  </div>

<br>
<br>
<h1><a href="/items/new">Create New Item</a></h1>